{% extends "auth_index.html" %}
{% load static %}



{% block content %}
<h1 style="color:#403d39; justify-content:center;">Register</h1>
<h4 style="color:#403d39;" class="mb-2">Welcome to BookHive! 👋</h4>
<form id="formAuthentication" class="mb-3" method="POST">
  {% csrf_token %}
  <div class="mb-3">
    <label style="color:#403d39;" for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" autofocus />
  </div>
  <div class="mb-3">
    <label style="color:#403d39;" for="email" class="form-label">Email</label>
    <input type="text" class="form-control" id="email" name="email" placeholder="Enter your email" />
  </div>
  <div class="mb-3 form-password-toggle">
    <label style="color:#403d39;" class="form-label" for="password">Password</label>
    <div class="input-group input-group-merge">
      <input type="password" id="password" class="form-control" name="password"
        placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
        aria-describedby="password" />
      <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="terms-conditions" required name="terms" />
      <label style="color:#403d39;" class="form-check-label" for="terms-conditions">
        I agree to
        <a  style="color:#1a659e" href="javascript:void(0);">privacy policy & terms</a>
      </label>
    </div>
  </div>
  <button class="btn btn-secondary d-grid w-100" style="background-color:#15616d">Sign up</button>
</form>
<p class="text-center" style="color:#403d39;">
  <span>Already have an account?</span>
  <a href="{% url 'login_page' %}">
    <span style="color:#1a659e">sign in</span>
  </a>
</p>
<p class="text-center">
  <h1 style="display: none;">{{form.errors.items}}</h1>
  {% for ele, error_item in form.errors.items  %}
  <span style="color: red;">{{error_item}}</span>
  {% endfor %}
  
</p>
{% endblock %}

{% block login_register %}
<span class="app-brand-text demo text-body fw-bolder">Register</span>
{% endblock %}